services:
  doapi:
    image: ${DOCKER_REGISTRY-}doapi
    build:
      context: .
      dockerfile: DoApi/Dockerfile
    networks:
      - webnet


        

  client:
    image: client
    build:
        context: ./frontend-react
        dockerfile: Dockerfile
    networks:
      - webnet
  
  proxy:
    image: nginx:stable-alpine
    container_name: nginx_proxy
    restart: unless-stopped
    depends_on:
      - doapi   
      - client
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/
      - ./frontend-react/build:/usr/share/nginx/html
    networks:
      - webnet


  
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
        - ./certbot/conf:/etc/letsencrypt
        - ./certbot/www:/var/www/certbot 
    command: certonly --webroot -w /var/www/certbot --force-renewal --email {Email} -d {DOMAIN_NAME} --agree-tos
    networks:
      - webnet


  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - webnet
      
  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
    networks:
      - webnet


volumes:
  pgdata:

networks:
  webnet:

